<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/login.css">
	<title>Document</title>
</head>
<body>
	<main>
		<div class="form-container">
			<div class="form-logo">
				<a href="/">
                    <img src="https://www.dolphincoveja.com/Content/src/logo.png" alt="" width="80px">
                </a>
			</div>
			<div class="form-header">
				<span class="header">Login</span> 
				<span class="header-message">Please enter your credentials to login</span>
			</div>
			<div class="form-section">
				<form action="/login" method="post">
					<div class="form-group">
						<label for="email">Email</label>
						<input class="" type="text" name="email" id="eml" />
					</div>
					<div class="form-group">
						<label for="password">Password</label>
						<input class="" type="password" name="password" id="pwd" />
					</div>
					<div class="login-control">
						<button class="login-btn" type="submit">Login</button>
					</div>
					
				</form>
			</div>
			<div class="links">
				<a href="#">Forgot Password?</a>
				<a href="/">Back</a>

			</div>

		</div>
	</main>
</body>
</html>